.container {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
}

.header {
  font-size: 120px;
  text-align: center;
}

.aboutFlex {
  display: flex; 
  flex-direction: column;
}

.aboutInnerFlex {
  margin-right: 0; 
  margin-bottom: 30px;
  width: auto;
}

.aboutHeader {
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 60px;
}

.aboutInfo,
.aboutLink {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 20px;
  font-size: 18px;
}

.profileImg {
  height: 300px; 
  width: 300px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .aboutInnerFlex {
    align-self: center;
    width: 50%;
    margin-right: 30px;
  }

  .aboutFlex {
    flex-direction: row;
  }
	
}