.pageGrid {
	max-width: 880px;
	width: 100%;
	margin: 0 auto;
}

.header {
	font-family: 'Luckiest Guy', cursive;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 120px;
	text-align: center;
}