
.beerContainer {
	display: flex;
	justify-content: space-around;
	flex: 1 1 100%;
	background-color: #ffffff; 
	border-radius: 20px;
	margin-bottom: 20px;
	padding: 40px 20px;
}

.beerInfoContainer {
	flex: 0 0 60%;
	align-self: center;
}

.beerName {
	font-family: 'Luckiest Guy', cursive;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #009CCD;
	font-size: 62px;
	margin-bottom: 8px;
}

.beerTagline {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #009CCD;
	font-size: 24px;
	margin-bottom: 12px;
}

.beerDescription {
	font-family: 'Raleway', sans-serif;
	color: #009CCD;
	font-size: 20px;
	margin-bottom: 20px;
	line-height: 32px;
}

.beerImgWrapper {
	max-width: 130px;
	height: auto;
}

.beerImgWrapper img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.favoriteBtn {
	margin-right: 10px;
}

.foodPairingList {
	margin: 0; 
	padding: 0; 
	margin-top: 20px; 
	margin-left: 20px;
}

.foodPairingList li {
	list-style-type: square;
	margin-bottom: 5px;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	color: #009CCD;
	font-size: 16px;
}

