
.beerContainer {
	display: flex;
	justify-content: space-around;
	flex: 1 1 100%;
	background-color: #ffffff; 
	border-radius: 20px;
	margin-bottom: 20px;
	padding: 40px 20px;
}

.beerInfoContainer {
	flex: 0 0 60%;
	align-self: center;
}

.beerName {
	font-family: 'Luckiest Guy', cursive;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #009CCD;
	font-size: 62px;
	margin-bottom: 8px;
}

.beerTagline {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #009CCD;
	font-size: 24px;
	margin-bottom: 12px;
}

.beerDescription {
	font-family: 'Raleway', sans-serif;
	color: #009CCD;
	font-size: 20px;
	margin-bottom: 20px;
	line-height: 32px;
}

.beerImgWrapper {
	max-width: 130px;
	height: auto;
}

.beerImgWrapper img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.foodPairingList {
	margin: 0; 
	padding: 0; 
	margin-top: 20px; 
	margin-left: 20px;
	transition: all ease-in 250ms;
	visibility: hidden;
	opacity: 0;
}

.foodPairingListActive {
	margin: 0; 
	padding: 0; 
	margin-top: 20px; 
	margin-left: 20px;
	transition: all ease-in 250ms;
	visibility: visible;
	opacity: 1;
}

.foodPairingList li,
.foodPairingListActive li {
	list-style-type: square;
	margin-bottom: 5px;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	color: #009CCD;
	font-size: 16px;
}


.btn,
.btnActive {
	background-color: #ffffff; 
	color: #009CCD;
	border: 2px solid #009CCD;
	border-radius: 50%;
	font-size: 16px; 
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	width: 40px;
	height: 40px;
	outline: none;
	transition: all ease-in 200ms;
	margin-right: 7.5px;
	cursor: pointer;
}

.btn svg,
.btnActive svg {
	position: relative; 
	top: 1px;
} 

.btnActive {
	background-color: #009CCD; 
	color: #ffffff;
}



