.pageNav {
  padding: 35px 40px 30px;
  box-sizing: border-box;
  background-color: #009CCD;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 27px 81px -33px rgba(20,20,20,1);
  -moz-box-shadow: 0px 27px 81px -33px rgba(20,20,20,1);
  box-shadow: 0px 27px 81px -33px rgba(20,20,20,1);  
}

.navFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.siteLogo {
  margin: 0; 
  padding: 0;
  list-style-type: none;
  font-size: 32px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.siteLogo svg path{
  fill: #ffffff;
}

.navLinks {
  font-family: 'Luckiest Guy', cursive;
  display: flex;
  padding: 0; 
  margin: 0;
}

.navLinks li {
  list-style-type: none;
  color: #ffffff;
  letter-spacing: 0.05em;
  font-size: 24px;
  margin: 0 30px;
  text-decoration: none;
}

.navLinks li:last-child {
  margin-right: 0;
}