.favoritesHeader {
  font-family: 'Luckiest Guy', cursive;
	letter-spacing: 0.05em;
	text-transform: uppercase;
  color: #ffffff;
  font-size: 60px;
}

.favoritesRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px; 
  margin-right: 60px;
  width: 100%; 
  max-width: 100%;
}

.favoritesInnerRow {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}

.favoritesNameAbv {
  display: flex;
}

.favoritesName {
  font-family: 'Luckiest Guy', cursive;
  color: #009CCD;
  font-weight: bold;
  font-size: 44px; 
  margin-right: 40px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
}

.favoritesAbv {
  font-family: 'Luckiest Guy', cursive;
  color: #000000;
  font-weight: bold;
  font-size: 32px;
  margin-right: 40px;
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: flex-end;
  letter-spacing: 0.05em;
}

.favoritesBrewTips {
  font-family: 'Raleway', sans-serif;
  color: #009CCD;
  font-size: 18px;
  line-height: 26px;
  max-width: 90%;
}

.favoritesImgWrapper {
  width: 100px; 
  text-align: center;
}

.favoritesImg {
  max-height: 200px;
}