.pageGrid {
	max-width: 880px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}

.favoritesHeader {
  font-family: 'Luckiest Guy', cursive;
	letter-spacing: 0.05em;
	text-transform: uppercase;
  color: #ffffff;
  font-size: 60px;
}

.favoritesRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px; 
  margin-right: 60px;
  width: 100%; 
  box-sizing: border-box;
  max-width: 100%;
}

.favoritesInnerRow {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.favoritesNameAbv {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.favoritesName {
  font-family: 'Luckiest Guy', cursive;
  color: #009CCD;
  font-weight: bold;
  font-size: 44px; 
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
}

.favoritesAbv {
  font-family: 'Luckiest Guy', cursive;
  color: #000000;
  font-weight: bold;
  font-size: 32px;
  justify-content: center;
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  letter-spacing: 0.05em;
}

.favoritesBrewTips {
  font-family: 'Raleway', sans-serif;
  color: #009CCD;
  font-size: 18px;
  line-height: 26px;
}

.favoritesImgWrapper {
  width: 100px;
  text-align: center;
}

.favoritesImg {
  max-height: 200px;
}

.removeBtn {
  background-color: #ffffff;
  color: #009CCD;
  border: 2px solid #009CCD;
  font-size: 18px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none; 
  border-radius: 50%;
  transition: all ease-in 250ms;
}

.removeBtn:hover {
  background-color: #009CCD;
  color: #ffffff;
  border: 2px solid #009CCD;
}

.noFavorites {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .favoritesName {
    margin-right: 40px;
  }

  .favoritesInnerRow {
    margin-right: 30px;
  }

  .favoritesAbv {
    margin-right: 30px;
    justify-content: flex-end;
  }

  .favoritesBrewTips {
    max-width: 90%;
  } 

  .favoritesImgWrapper {
    margin-right: 40px;
  }
}