.container {
	padding: 0 20px;
	margin-bottom: 60px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.beerSearchForm {
	display: flex;
}

.searchInput {
	outline: none;
	border: none;
	border-bottom: 3px solid rgba(255, 255, 255, 0.6);
	padding: 12px 0;
	min-width: 240px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	background-color: #fcaf67;
	color: #ffffff;
	transition: all ease-in 250ms;
}

.searchInput:focus {
	border-bottom: 3px solid rgba(255, 255, 255, 1);
}

.searchInput::placeholder {
	color: rgba(255, 255, 255, 0.6); 
}

.submitBtn {
	border: 3px solid #ffffff;
	background-color: #fcaf67;
	padding: 12px;
	font-size: 20px;
	margin-left: 20px;
	cursor: pointer;
	transition: all ease-in 250ms;
}


.submitBtn:hover {
	border: 3px solid #ffffff;
	background-color: #ffffff;
}

.submitBtn svg path {
	fill: #ffffff;
}

.submitBtn:hover svg path {
	fill: #fcaf67;
}

@media screen and (min-width: 768px) {
	
}
